@import url('https://fonts.cdnfonts.com/css/archivo-black');

*{
    font-family: 'Archivo Black', sans-serif;
    color: #000000;
}

header{
        background-color: black;
        height: 50px;
        border: 2px solid black;
        position: relative;
}

.logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 40px;
}

body,html{
    height: 92%;
    margin: 0;
}

main {
    background-image: url("../media/cola_versions_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;
}

footer{
    margin-top: 1%;
    position: relative;
    text-align: center;
}

a{

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: black;
}

a:hover{
    color: #D3010E;
}

#mainButton{
    width: 550px;
    height: 130px;
    background: #D3010E;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

#videoButton{
    width: 500px;
    height: 110px;
    background: #D3010E;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

#informationButton{
    width: 500px;
    height: 110px;
    background: #D3010E;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: -2%;
}

video{
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width: 900px;
}

#container{
    position: absolute;
}

.box {
    padding: 10px;
    margin-top: 3%;
    width: 1308px;
    height: 600px;
    left: 66px;
    top: 431px;
    background: #D3010E;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#boxInfo{
    height: 500px;
}

#boxVergleich{
    height: 500px;
}

h1{
    color: #FFFFFF;
    font-size: 42px;
    line-height: 52px;
}

h2 {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 52px;
}
.boxText{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
}

#zeroText{
    text-align: center;
}

#lightText{
    text-align: center;
}

.vergleichText{
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
}
